        <ul id="first-list" class="friends-list">
            {{#each items}}
                   <li class="list-elem" draggable="true" id="{{id}}">
                       <div class="photo">
                           <img src="{{photo_100}}" alt="">   
                       </div>
                       <div class="name">{{first_name}} {{last_name}}</div>
                       <div class="icon">
                            <svg width="18" height="18">
                                {{#if ../open}}
                                    <use xlink:href="img/sprite.svg#add"></use>
                                {{else}}
                                    <use xlink:href="img/sprite.svg#close"></use>
                                {{/if}}
                            </svg>
                       </div>
                   </li>
            {{/each}}
        </ul>